<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"><title>Title</title></head>
<body class="bg-light">
<div th:replace="fragments::main-nav"></div>

<div class="py-5 text-center" th:if="${error}">
    <p class="lead">StudyKYM メール確認</p>
    <div class="alert alert-danger" role="alert">
        メールリンクが正しくありません。
    </div>
</div>
<div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">StudyKYM メール確認</p>
    <div class="alert alert-danger" role="alert">
        <h2>メールアドレス確認が完了しました。
            <span th:text="${numberOfUser}"></span>番目の会員,
            <span th:text="${nickname}">キム</span>様の入会ありがとうございます。
        </h2>
        <small class="text-info">使用したメールアドレスやパスワードでログインできます。</small>
    </div>
</div>
</body>
</html>